.myNameHeader {
  display: none;
}
.overallCareerSection {
  position: absolute;
  top: 60px;
  padding: 0 20px;
}
.carousel-item {
  padding: 0 20px;
}
.career-header {
  margin: 0;
  padding: 0;
  color: rgb(131, 131, 131);
  font-size: 3rem;
}
.career-role {
  margin-right: 10px;
  padding: 0;
  width: 100%;
  color: #be4700;
  text-align: right;
  font-size: 20px;
}
p,
.aboutMe {
  color: rgb(93, 93, 93);
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid rgba(206, 206, 206, 0.288);
  padding-bottom: 20px;
}
.myPicture {
  display: none;
}
.aboutMe p {
  margin-top: 10px;
  border: none;
}
.contactMeSection {
  display: none;
}
.carouselbtn {
  display: none;
}

/************************
****Tablet site view*****
************************/

@media (min-width: 406px) {
  .carouselbtn {
    display: none;
  }
}

/************************
******Web site view******
************************/

@media screen and (min-width: 900px) {
  .myPicture {
    display: block;
  }
  .myNameHeader {
    display: block;
  }
  .overallCareerSection {
    width: 70%;
  }
  .carousel-item {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    height: 500px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.62);
  }
  .carousel-item p {
    color: white;
    font-weight: 100;
    font-size: 16px;
    border: none;
  }
  .career-header {
    color: white;
  }
  .career-role {
    text-shadow: 0.5px 0.5px 5px rgba(250, 250, 250, 1);
  }
  .contactMeSection {
    display: block;
  }
  .overallCareerSection .carousel-item,
  .overallCareerSection .hidden {
    display: none;
  }
  .overallCareerSection .active {
    display: block;
  }
  .carouselButtonPanel {
    display: flex;
    justify-content: space-around;
  }
  .carouselbtn {
    display: block;
  }
  .carouselbtn {
    color: #ff6106;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 500%;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 5px 15px;
    margin: 5px;
  }
  .carouselbtn:hover,
  .carouselbtn:focus {
    box-shadow: 1px 1px 8px #be4700;
    background: rgba(0, 0, 0, 0.7);
  }
}
